:root {
    --headcolor: #FFD700
}



.about {
    /* margin-top: 4rem; */
    /* position:sticky; */
    background-color: #FAF9F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 2rem; */
    min-height: 100dvh;
    height: auto;
    width: 100%;
    border-bottom: 4px solid rgb(0, 0, 0);


}

.aboutHeading {
    /* margin-top: 3rem; */
    /* margin: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

}

.aboutHeading h1 {

    font-size: 3rem;
}

.aboutimg {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;

}

.aboutimg img {
    width: 80%;
    height: 100%;
    border-radius: 10%;
    box-shadow: 10px 10px 15px black;

    /* mix-blend-mode: luminosity; */

}

.aboutimg img:hover {
    /* mix-blend-mode: normal; */

}

.aboutElement {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 2rem;
}

.aboutContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10%;
    background-color: #fff;
    padding: 1.5rem;
    /* border: 2px solid red; */
    height: 100%;
    width: 50%;
    margin: 1rem;
    box-shadow: 3px 4px 4px black;

}


/* responsite works  */




/* resume button */


.glow-on-hover {
    /* margin: 0.5REM; */
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;

}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .1s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
   
   
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.resume {
    margin: 1.2rem;
    /* width: 12rem; */
    /* height: 2rem; */

}
.resume a:hover{
    color: white;
}

.resume a {
text-decoration: none;
    padding: 1rem 2.5rem;
    color: white;

}

.about_contact_text{
    font-size: 12px;
    margin: 0;
}