.skillscontent {
    /* border: 2px solid red; */
    
}


@keyframes animation1 {
    0% {
        width: 0px;

    }

    100% {
        width: 90%;
    }
}

@keyframes animation2 {
    0% {
        width: 0px;

    }

    100% {
        width: 60%;
    }
}


.perbox {
    height: 4px;
    width: 90%;
    margin: 10px 2px;
    /* border: 2px solid white; */
    background-color: rgba(128, 128, 128, 0.537) ;
    display: flex;
    border-radius: 5px;
}

#javain {
    height: 4px;
    width: 90%;
    display: flex;
    border-radius: 5px;
    background-color: #FFD700;
    animation-name: animation1;
    animation-duration: 1s;
    animation-timing-function: ease-out;


}

#pythonin {
    height: 4px;
    width: 60%;
    background-color: #FFD700;
    border-radius: 5px;
    animation-name: animation2;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}