@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

body {
  color: white;
  font-family: "Poppins", sans-serif;
  font-family: "Lato", sans-serif;
  position: relative;
}

/* Add this CSS to your stylesheet or in a style tag in your HTML */
html {
  /* scroll-behavior: smooth; */

}

*{
  scroll-behavior: smooth;
}


.clock {
    color: #17d4fe;
    font-size: 20px;
    font-family: Orbitron;
    letter-spacing: 4px;
    margin-right: 16px;
}



html::selection,
body::selection {
  background-color: yellow; /* Color when text is selected */
  color: red; /* Color of selected text */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
 
}

:root {
  --headcolor: #ffd700;
}

#particles-js {
  /* border: 3px solid red; */
  height: 100%;
  position: absolute;
  height: 100vh;
  z-index: -1;

  /* background-color: rgb(244, 244, 253); */
}

.home-section {
  /* position: absolute; */
  top: 0;
  width: 100%;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}

.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: 0.5em;
  transition: 0.3s;
  /* color: #fff; */
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}

.work .viewall {
  display: flex;
  justify-content: center;
}

/* navbar section */

/* hamburget */

/*  */

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hamburger {
  width: 30px;
  height: 30px;
  position: relative;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: rgb(0, 0, 0);
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}



nav {
  border-bottom: 0.5px solid white;
  /* background-color: black; */
  box-shadow: 5px 5px;
  position: sticky;
}

nav .navbar-brand {
  color: white;
  font-size: 1.8rem;
  margin-right: 3rem;
  padding: 10px 14px;
}

nav .navbar-brand span {
  color: var(--headcolor);
}

nav .nav-item {
  padding: 1rem 0.5rem;
}

nav .nav-link {
  font-size: 1.1rem;
  color: var(--headcolor);

  position: relative;
  /* transition: all 0.2s ease-in; */
}

nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  /* background-color: #fff; */
  background: linear-gradient(to right, #fbff00 0%, #fb8107 100%);

  transition: all ease-out 0.4s;
}
nav .nav-link:hover::after {
  width: 100%;
}

nav .nav-link:hover {
  /* color: white; */

  background: linear-gradient(to right, #fbff00 0%, #fb8107 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* scroll top starts */
#scroll-top {
  position: fixed;
  top: -140%;
  right: 2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background: #ffae00;
  color: rgb(80, 6, 253);
  border-radius: 5rem;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.active {
  top: calc(100% - 12rem);
}

/* scroll top ends */

/* footer */

.footer {
  min-height: 60vh;
  height: auto;
  width: 100%;
  padding: 2rem;
  background-color: #011439;
}

.footerContent {
  /* border: 2px solid yellow; */
  height: 80%;
  width: 100%;
  padding: 0.1rem;
  display: flex;
  justify-content: space-around;
}

.footerContent h3 {
  color: var(--headcolor);
}

.contactInfo {
  width: 32%;
  /* border: 2px solid white; */
  /* height: 100%; */
  padding: 1rem;
  /* display: flex; */
  color: white;
  background-color: #010e26;
  border-radius: 10%;
}

.contactInfo i {
  color: var(--headcolor);
}

.quickLinks {
  width: 32%;
  /* border: 2px solid rgb(225, 24, 24); */
  /* height: 100%; */
  color: white;
  padding: 1rem;
  background-color: #010e26;
  border-radius: 10%;
}

.quickLinks a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.quickLinks a i {
  color: var(--headcolor);
}

.aabhar {
  width: 32%;
  /* border: 2px solid rgb(255, 255, 255); */
  /* height: 100%; */
  color: white;
  padding: 1rem;
  background-color: #010e26;
  border-radius: 10%;
}

.EndOfWebsite {
  margin: 1rem;
 
  /* border: 2px solid pink; */
  background-color: #010e26;
  border-radius: 12px;

  height: 20%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* //scroll up */


body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}


#back-to-top-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 2px solid transparent; /* Initial transparent border */
  border-radius: 50%; /* Rounded shape */
 
  cursor: pointer;
  transition: border-width 0.3s ease; /* Smooth transition for border */
  z-index: 9999;
}

#back-to-top-button {

  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

#progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ccc;
  z-index: 9999;
}

#progress-bar {
  height: 100%;
  background-color: #2506AD;
  width: 0;
}


.scrollTop {
  
  border: 2px solid red;
  right: 2rem;
  margin: 3rem;
  position: fixed;
}

.scrollup {
    position: fixed;
  right: 0.8rem;
  bottom: 2rem;
  border-radius: 100%;
}


.scrollup img {
 height: 70px;
 width: 70px;
}

 