#firstworkrow {}

.work {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* icon */
#webdevelopment {
    color: rgb(0, 179, 255);
}

#pythonpractice {
    color: rgb(0, 179, 255);
}

#webprojects {
    color: rgb(14, 210, 14);
}

#javadsa {
    color: rgb(255, 0, 0);
}

#htmlpractice {
    color: orangered;
}
#cpractice{
    color: blue;
}

.workrow {

    display: flex;
    justify-content: center;
    align-items: center;
}

.workbox {
    border: 2.5px solid rgba(255, 255, 255, 0.406);
    border-radius: 20px;
    box-shadow: 3px 3px rgba(255, 255, 255, 0.406);
    width: 30vw;
    height: 40vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    flex-direction: column;
}

.workicon {
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.workicon i {
    font-size: 2.8rem;

}

.workicon h1 {
    color: #FFD700;
}

.workdiscription {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    text-align: justify;
    margin: 12px;
    font-size: 19px;


}

.workgit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    width: 90px;
    height: 28px;
    margin: 12px;
    padding: 8px;
}


/* //mobile css */

@media (max-width:800px) {
    #firstworkrow {
        margin-top: 14vh;
    }

    .workrow {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .workbox {
        width: 80vw;
    }


}